page-home {
    img{
        width: 30%;
        align-self: center;
        margin-left: auto;
        margin-right: auto;

        display: block;
    }
    .homeitens{
        text-align: center;
       padding: 10px;
         max-width: 10%;
        max-height: 10%;
        border-radius: 25px;

    }

    .centerall{
        text-align:center !important;
        align-self: center !important;

    }
    .botaohome{
        max-width: 10%;
        max-height: 10%;
        padding: 15px;
    }
    }
    