// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
}

/* high-performance display:none; helper */

.gu-hide {
    left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* added to the source element while its mirror is dragged */

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

ion-content {
    background: url("../assets/imgs/background2.jpeg") no-repeat fixed center;
    background-size: cover;
}

.center-div {
    display: flex;
    align-items: center;
    justify-content: center;
//  h2 {
//      font-size: 2rem;
//  }  

//  ion-item{
//      background: color($colors, light);
//  }

//  ion-label{
//      font-size: 1.8rem;
//  }

//  ion-title{
//      text-align: center;
//  }

//  .icone{
//      display: block;
//      text-align: center !important;
//      font-size: 225px;
//  }

//  .btn-list {
//      background: transparent !important; 
//  }

 }
//  .center-title{
//      position: absolute;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50% , -50%)
//  }

//  .bottom-div{
//      display: flex;
//      justify-content: center;
//  }
 
//  .group-bottom-div {
//      position: absolute;
//      top: 73%;
//      left: 50%;
//      transform: translate(-50%);
//  }
 
 
// http://gradients.io/
// https://uigradients.com/
// https://medium.muz.li/oh-mamma-im-in-love-with-gradient-c81943e3c92b
// https://www.reddit.com/r/starterpacks/comments/9e697w/app_design_in_2018_starter_pack/