<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>MyOrder</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="wrapper">
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <div *ngFor="let i of index">
            <div class="center-div">
              <img src="../../assets/imgs/Pizza.jpg" (click)="selectPizza(i)">
            </div>
            <br>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="container" dragula="COPYABLE" id="left">
            <div *ngFor="let obj of ingredients" [id]="obj.id">
              <div class="center-div">
                <img [src]="obj.src">
              </div>
              <h3 text-center>
                <b>{{obj.name}} </b>
              </h3>
            </div>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="container center-div" dragula="COPYABLE" id="right">
            <div>
              <img [src]="imgOrder" class="img-order">
            </div>
          </div>
          <br>
          <br>
          <br>
          <br>
          <div class="btn-finish center-div">
            <button ion-button round (click)="btnFinishOrder()">
              Finalizar Pedido
            </button>
          </div>
        </ion-col>
        <ion-col col-3>
          <div class="center-div">
            <h1>Itens Adicionados</h1>
          </div>
          <ion-list>
            <ion-item *ngFor="let item of orderItens">
              <ion-thumbnail item-start>
                  <img [src]="item.src">
              </ion-thumbnail>
              <h2>{{item.name}}</h2>
              <!-- <p>Hayao Miyazaki • 1988</p> -->
              <button ion-button  round color="danger" item-end (click)="removeItem(item)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>