<ion-header >
    <ion-navbar transparent hideBackButton="true" no-border>
      <ion-title>
        <h1><b>Escolha sua bebida</b></h1>
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding>
    <ion-fab left top small>
      <button ion-fab color="light" (click)="btnGoBack()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-fab>
    <ion-fab right top small>
      <button ion-fab color="light" (click)="btnRotation()">
        <ion-icon class="fa-repeat"></ion-icon>
      </button>
    </ion-fab>
    <div class="row">
      <ion-list ion-item class="dCard" col-5 *ngFor="let bebida of bebidas">
        <!-- <ion-thumbnail item-start> -->
        <img [src]="bebida.src">
        <!-- </ion-thumbnail> -->
        <h2 style="text-align: center;">{{bebida.name}}</h2>
        <h2 *ngIf="bebida.quantidade>0" class="nolinebreak" style="text-align: center; color: whitesmoke">{{bebida.quantidade}}</h2>
        <ion-icon name="remove-circle" item-end (click)="decreaseQuantity(bebida)" color="danger"></ion-icon>
        <ion-icon name="add-circle" item-start (click)="addToOrder(bebida)" color="primary"></ion-icon>
        <!-- <ion-icon name="add-circle" item-start (click)="increaseQuantity(bebida)" color="primary" ></ion-icon> -->
        <!-- <h2> R$ {{item.preco}}</h2> -->
      </ion-list>
      <br>
    </div>
    <div style="text-align: center;">
      <button ion-button round color="secondary"(click)="finish()">Finalizar Pedido</button>
    </div>
    <!-- </ion-content> -->
  
  </ion-content>